@import 'styles/utils.scss';
@import 'styles/resets.scss';
@import 'styles/variables.scss';
@import 'styles/base.scss';
@import 'styles/averta.scss';

@mixin img($top, $left) {
  position: absolute;
  top: top($top);
  left: left($left);
}

#hero {
  .header {
    height: $header-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    z-index: 1;
  }

  .content {
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-family: AvertaStdPE-Semibold;
    font-size: 6.6rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .description {
    margin: 0;
    font-size: 1.5rem;
    width: 700px;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .button {
    border-radius: 4px;
    padding: 1rem;
    min-width: 10rem;
    color: #fff;
    font-weight: 500;
    background-color: $wolt-id-blue;
    margin-bottom: 2.5rem;

    &:hover,
    &:focus {
      outline: none;
      background-color: mix(#fff, $wolt-id-blue, 24);
    }

    &:active {
      background-color: mix($dark-grey, $wolt-id-blue, 12);
    }
  }

  .link {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.8;
    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      content: '';
      border: 1px solid $dark-grey;
      border-bottom: 0;
    }
  }

  .images {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .img1 {
    @include img(55, 919);
  }
  .img2 {
    @include img(169, 216);
  }
  .img3 {
    @include img(338, 1162);
  }
  .img4 {
    @include img(482, 1038);
  }
  .img5 {
    @include img(551, 235);
  }
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
