@import 'styles/utils.scss';
@import 'styles/resets.scss';
@import 'styles/variables.scss';
@import 'styles/base.scss';
@import 'styles/averta.scss';

@mixin img($top, $left) {
  position: absolute;
  top: top($top);
  left: left($left);

  & > .image-canvas-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
  }

  & > .image-bg {
    will-change: opacity;
    opacity: 1;
  }
}

h2 {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
}

.hero {
  height: 100vh;

  .header {
    height: $header-height;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    z-index: 1;
  }

  .content {
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
  }

  .title {
    font-family: AvertaStdPE-Semibold;
    font-size: 6.6rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  .description {
    margin: 0;
    font-size: 1.5rem;
    width: 700px;
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .button {
    border-radius: 4px;
    padding: 1rem;
    min-width: 10rem;
    color: #fff;
    font-weight: 500;
    background-color: $wolt-id-blue;
    margin-bottom: 2.5rem;

    &:hover,
    &:focus {
      outline: none;
      background-color: mix(#fff, $wolt-id-blue, 24);
    }

    &:active {
      background-color: mix($dark-grey, $wolt-id-blue, 12);
    }
  }

  .link {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.8;
    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      content: '';
      border: 1px solid $dark-grey;
      border-bottom: 0;
    }
  }

  .imagesContainer {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  .img1 {
    @include img(55, 919);
  }
  .img2 {
    @include img(169, 216);
  }
  .img3 {
    @include img(338, 1162);
  }
  .img4 {
    @include img(482, 1038);
  }
  .img5 {
    @include img(551, 235);
  }
}

.animateImages {
  animation: revealBlurhash 5s 2.5s infinite;
}

@keyframes revealBlurhash {
  0% {
    opacity: 1;
  }

  25%,
  50% {
    opacity: 0;
  }

  75%,
  100% {
    opacity: 1;
  }
}

.section {
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.why-blurhash {
  position: relative;
  padding-left: 30vw;
  padding-top: 24px;
  padding-bottom: 50px;
  min-height: 800px;
  display: flex;

  &:after {
    content: '';
    height: 731px;
    width: 365px;
    position: absolute;
    top: 75px;
    right: 60%;

    background-image: url(../assets/images/iPhone-X-Silver.png);
  }

  .content {
    background: rgba(229, 238, 255, 0.37);
    padding-left: 20vw;
    padding-right: 20vw;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    font-size: 16px;
    line-height: 22px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.34px;
  }
}

.how-it-works {
  text-align: center;

  p {
    font-family: Helvetica;
    font-size: 28px;
    letter-spacing: -0.5px;
    max-width: 870px;
    margin: 0 auto;
  }
}

.get-started {
  background: url(../assets/images/get-started-bg.jpg);
  max-width: 1180px;
  height: 556px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2,
  p {
    color: #fff;
  }

  p {
    font-size: 24px;
    line-height: 32px;
    padding: 0 20%;
  }

  .white-button {
    background: #fff;
    padding: 1rem 2rem;
    color: $wolt-id-blue;
    text-decoration: none;
  }
}
