<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=0, shrink-to-fit=no">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <section id="hero">
    <div class="images">
      <div class="img1">
        <canvas width="32" height="32" class="image-canvas-bg"></canvas>
        <img src="../assets/images/img1.jpg" class="image-bg"/>
      </div>
      <div class="img2">
        <canvas width="32" height="32" class="image-canvas-bg"></canvas>
        <img src="../assets/images/img2.jpg" class="image-bg"/>
      </div>
      <div class="img3">
        <canvas width="32" height="32" class="image-canvas-bg"></canvas>
        <img src="../assets/images/img3.jpg" class="image-bg"/>
      </div>
      <div class="img4">
        <canvas width="32" height="32" class="image-canvas-bg"></canvas>
        <img src="../assets/images/img4.jpg" class="image-bg"/>
      </div>
      <div class="img5">
        <canvas width="32" height="32" class="image-canvas-bg"></canvas>
        <img src="../assets/images/img5.jpg" class="image-bg"/>
      </div>     
    </div>
    <header class="header">
      <img class="logo" src="../assets/svg/wolt-logo.svg" />
    </header>
    <div class="content">
      <h1 class="title">
        BlurHash
      </h1>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <button class="button">
        Get started
      </button>
      <a class="link" href="#">
        More on our blog
      </a>
    </div>
  </section>
</body>
</html>
